.errors {
    border-radius: 2px 2px 0 0;
    background-color: #f88;
    border: 1px solid #800;
    border-bottom: none;
    position: fixed;
    color: #a00;
    width: 400px;
    right: 100px;
    bottom: 0;

    &.hidden {
        display: none;
    }

    @media (max-width: 768px) {
        border-right: none;
        border-left: none;
        width: 100%;
        right: 0;
    }

    .title {
        border-bottom: 1px solid #a00;
        letter-spacing: 1px;
        font-weight: bold;
        padding: 6px 12px;

        .dismiss {
            transform: translateX(2px) translateY(-2px);
            font-weight: normal;
            user-select: none;
            font-size: 0.8em;
            cursor: pointer;
            float: right;
            padding: 5px;
        }
    }

    .error {
        font-family: 'Inconsolata', monospace;
        font-size: 0.8em;
        padding: 0 12px;
        margin: 12px 0;
    }
}