.input {
    @mixin placeholder {
        &::-webkit-input-placeholder {@content}
        &:-moz-placeholder           {@content}
        &::-moz-placeholder          {@content}
        &:-ms-input-placeholder      {@content}
    }

    $width: 16rem;

    width: $width + 1rem;
    overflow-x: hidden;
    text-align: left;
    margin: 0 auto;

    &.loading {
        filter: grayscale(100%);
        pointer-events: none;

        *:not(button) {
            opacity: 0.5;
        }

        button {
            cursor: default;
            color: #555;
        }
    }

    .title {
        margin: 0.5rem 0.9rem 0.1rem;
        font-weight: bold;
        font-size: 1.3rem;
        display: block;
        width: $width;
    }

    input[type="text"],
    input[type="email"],
    input[type="password"] {
        padding: 0.25rem 1.8rem 0.25rem 0.5rem;
        border: 1px solid #ddd;
        margin: 0.3rem 0.5rem 0;
        border-radius: 2px;
        height: 1.85rem;
        width: $width;
        outline: 0;

        @include placeholder {
            color: #cfcfcf;
            opacity: 1;
        }

        &:focus {
            border: 1px solid sienna;
        }
    }

    button {
        // button style resets
        -moz-osx-font-smoothing: inherit;
        -webkit-font-smoothing: inherit;
        -webkit-appearance: none;
        background: transparent;
        line-height: normal;
        text-align: inherit;
        overflow: visible;
        color: inherit;
        outline: none;
        font: inherit;
        border: none;
        width: auto;
        padding: 0;
        margin: 0;
        &::-moz-focus-inner {
            padding: 0;
            border: 0;
        }
        &:focus {
            outline: none;
        }
        // ---

        transform: translateX(-0.35rem) translateY(-1.95rem);
        padding: 0.65rem 0.7rem 0.65rem;
        display: inline-block;
        pointer-events: none;
        cursor: default;
        color: #cfcfcf;
        float: right;

        &.enabled {
            pointer-events: all;
            cursor: pointer;
            color: sienna;
        }
    }

    .error {
        margin: 0.35rem 1rem;
        font-size: 0.75rem;
        color: tomato;
        height: 1.15rem;
        width: $width;
    }
}