.input {
    @mixin placeholder {
        &::-webkit-input-placeholder {@content}
        &:-moz-placeholder           {@content}
        &::-moz-placeholder          {@content}
        &:-ms-input-placeholder      {@content}
    }

    display: inline-block;

    .title {
        margin: 10px 12px 0;
        font-weight: bold;
        font-size: 1.3em;
        display: block;
    }

    input[type="text"],
    input[type="email"] {
        border: 1px solid #eee;
        margin: 6px 10px 0;
        border-radius: 2px;
        padding: 5px 8px;
        outline: 0;

        @include placeholder {
            color: #cfcfcf;
            opacity: 1;
        }

        &:focus {
            border: 1px solid sienna;
        }
    }

    .icon {
        transform: translateX(-42px);
        display: inline-block;
        padding: 9px 8px 8px;
        cursor: pointer;
    }

    .error {
        margin: 0 12px 5px;
        font-size: 0.75em;
        color: tomato;
        height: 1.15em;
    }
}