.homepage {
    .loading {
        display: inline-block;
        margin: 20px 23px;
        color: sienna;
        float: right;

        i {
            @keyframes blinker {
                50% {
                    opacity: 0.3;
                }
            }

            animation: blinker 0.5s ease-out infinite;
            font-size: 0.7rem;
            opacity: 0.7;
        }
    }
}

