.home {
    .header {
        border-bottom: 1px solid #ddd;
        font: 800 1.6rem 'Lora', serif;
        padding: 6px 20px 10px;
        user-select: none;

        .icon * {
            color: sienna;
            margin: 0 10px;
        }
    }

    .signup {
        display: inline-block;
        margin: 0 auto;
        width: 100vw;

        .input {
            margin: 0 auto;
        }

        .title {
            font: 800 1.6rem 'Lora', serif;
        }
    }
}