html {
    color: #333;
    font-size: 1.2rem;
}

body {
    height: 100vh;
    margin: 0;
    width: 100vw;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    box-sizing: border-box;
}

a {
    outline: none;
    text-decoration: none;
}
